<!-- views/partials/header.ejs -->
<head>
	<script type="text/javascript" src="/javascript/header.js"></script>
    <script>
        var challengeStartDate = "<%= startDate %>",
            dayBeforeStartDate = "<%= dayBeforeStartDate %>";
    </script>
</head>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="/">Dashboard</a></li>
            <li><a id="nav-today" href="/<%= session.username%>/activities">Update Today's Activities</a></li>
            <li><a id="nav-yesterday" href="/<%= session.username%>/activities">Update Yesterday's Activities</a></li>
            <li><a href="/activities">Activities List</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
      
    </div>
</nav>