<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>About Poshfit</title>
  </head>
  <body class="container">
    <header>
      <% include ../views/partials/header %>
    </header>
  <h2>About Poshfit</h2>

  <p>More info about the Poshfit Challenge!</p>

  <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>
