<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>About Poshfit</title>
  </head>
  <body class="container">
    <header>
      <% include ../views/partials/header %>
    </header>
  <h2>About Poshfit</h2>

  <p>Welcome to Poshfit 2017! The goal of the contest is to inspire and drive each other to be healthier than before.</p>

  <p>Everyday you will enter the activities you have taken part in. Some activities are time-based and you will get points based on the duration of the activity. Others are daily actions that will get you fixed number of points. Examples of such actions are flossing and reading.</p>

  <h2>Things to remember!</h2>
    <ul>
	  <li>You have until 12 midnight to enter points for that day and the previous day.</li>
	  <li>Make sure you enter the correct duration of your activity. 26 minutes is NOT 30 minutes!</li>
	  <li>Remind teammates to enter points on time.</li>
      <li>If you have trouble with the portal or forget your password, please email  poshfit_comish@poshmark.com</li>
    </ul>

	<p>Finally, the Poshfit challenge works on the honour system. Be honest about the activities completed. The goal is to use the contest to get healthier!</p>
	
	- The Commisioner

  <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>
