<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>Poshfit Challange Activities List</title>
  </head>
  <body class="container">
  	<header>
      <% include ../views/partials/header %>
    </header>
	<h2>List of Activities and Points</h2>
	<table class="table table-condensed table-hover table-bordered">
		<% Object.keys(activitiesByCategory).forEach(function(category){ %>
			<tr>
				<th><%= category %></th>
			</tr>
			<tr>
				<th>Activity</th>
				<th>Points for Duration (in minutes)</th>
			</tr>
			<% activitiesByCategory[category].forEach(function(activity){ %>
				<tr>		
					<td><%= activity.Activity %></td>
					<td><%= activity.Points %> for <%= activity.Duration %> minutes</td>
				</tr>
			<% }) %>
		<% }) %>
	</table>

	<footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>
