<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>Poshfit Challange Dashboard</title>
  </head>
  <body class="container">
    <header>
      <% include ../views/partials/header %>
    </header>
  <h2>Dashboard</h2>

  <table class="table table-condensed table-hover table-bordered">
  </table>

  <table class="table table-condensed table-hover table-bordered">
  </table>

  <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>
