<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../views/partials/header %>
    </header>


    <p>test line</p>
    <p>This is a static file!</p>

    <footer>
      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>