<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
    <title>Poshfit Challange Login</title>
  </head>
  <body class="container">
    <h2 class="text-center">Welcome to PoshFit 2016</h2>
          
    <form class="form-horizontal" action="/login" method="post" style="max-width:600px;margin:0 auto;">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" name="username" placeholder="Email">
      </div>
      
      <div class="form-group">
        <label for="paswword">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      
      <div style="margin: 0; text-align: center;">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>

    <footer>
      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>
